<div class="header">
  <h1 class="title text-center">Update Your Article</h1>
</div>

<div class="wraper text-center">
  <%= render "form" %>
</div>

<p class="text-center"><%= link_to "Cancel", articles_path(@articles), class: "btn btn-primary" %></p>
