<div class="header">
  <h1 class="title text-center">Here is your article</h1>
</div>

<div class="wraper text-center">
    <h1><%= @article.title %></h1>

    <p><%= @article.content %></p>
</div>

<div class="text-center">
  <%= link_to "Back to articles", articles_path(@articles), class: "footer btn btn-primary" %>
</div>
