// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
  padding: 30px 0 30px;
  font-family: 'Montserrat', sans-serif;
}

.header {
  background-color: #888888;
  color: white;
}

.wraper {
  background-color: #E6E6E6;
  padding: 30px;
  margin: none;
}

.footer {
  margin: 40px 0 40px;
}

.article {
  border: 1px dashed #444444;
  margin: 20px 20px 20px;
  padding: 10px 20px 20px;
  font-family: 'Open Sans', sans-serif;
}

li {
  list-style: none;
}

p {
  margin-bottom: none;
}

.update, .delete {
  padding: 3px;
}
